.card {
    margin-bottom: 35px;
}

.card-img{
    border-radius: 5px;
}

.card-img-overlay{
    background: rgba(50, 50, 50, 0.2);
    margin: 10px;
    border-radius: 10px;
}

.topicsTagsBtn {
    font-size: 0.6rem;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.tagTopicsBadge {
    left: -35px;
    position: relative;
    top: 3px;
    transition: transform 0.3s ease-out, font-size 0.3s ease-out;
    z-index: 100;
}

.tagTopicsBadge:hover {
    font-size: 120%;
    font-weight: bolder;
    transform: scale(1.5);
    transition: transform 0.3s ease-out, font-size 0.3s ease-out;
}
