html {
    font-size: 30px;
}

body {
    background: rgb(0,212,255);
    background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 85%, rgba(2,0,36,1) 100%);
}

.navbar {
    
    /* aquamarine converted to RGBA */
    background-color: rgba(127, 255, 212, 0.6);
    border-radius: 10px;
    margin: 2em;
    padding: 1rem;
}

navbar-brand{
    margin-right: 70px;
}

.content {
    /* lightseagreen converted to RGBA */
    background-color: rgba(32, 178, 170, 0.6);
    border-radius: 10px;
    margin: 2em;
    padding: 4rem;
}
small{
    /*outline: 1px solid red;*/
    font-size: 0.5rem;
}
li{
    /*outline: 1px solid red;*/
    margin-left: 20px;
    /*margin-right: 20px;*/
}

li:first-child {
    margin-left: 50px;
}

li::after{
    /*outline: 1px solid blue;*/
    paddding-left: 1em;
    display: inline-block;
}
li::marker {
    /*outline: 1px solid red;*/
    display: inline-block;
    content: "⚓";
    font-size: 0.75rem;
}