@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <div class="form-check form-switch d-flex flex-row bd-highlight" style="margin: unset; padding: unset;">
            <div class="p-2 flex-fill bd-highlight text-white"><span style=@(!isAdmin ? "text-decoration: underline;":"text-decoration: none;")>Public</span></div>
            <div class="p-2 flex-fill bd-highlight"><input class="form-check-input" style="margin: unset; padding: unset;" type="checkbox" id="flexSwitchCheckChecked" @bind="isAdmin"></div>
            <div class="p-2 flex-fill bd-highlight text-white"><span style=@(isAdmin ? "text-decoration: underline;":"text-decoration: none;")>Is Admin</span></div>
        </div>

        @if (isAdmin)
        {
            <NavMenuAdmin />
        }
        else
        {
            <NavMenu />
        }

    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool isAdmin { get; set; } = false;

}
